:root {
    --etch-sketch-colour: rgb(201, 15, 15);
    --knob-colour: rgb(219, 214, 214);
    --sketch-pad-height: 400px;
    --sketch-pad-width: 600px;
    --cols: 1;
    --rows: 1;
    font-family: 'Yellowtail', cursive;
    color: gold;
}

body {
    margin: 0;
    display: block;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Yellowtail', cursive;
    color: gold;
}

.window-width {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.sketch-pad {
    display: grid;
    grid-template-columns: repeat(var(--cols), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
    margin: 0 200px 0 200px;
    width: var(--sketch-pad-width);
    height: var(--sketch-pad-height); 
}

.etch-sketch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
    background-color: var(--etch-sketch-colour);
    border: 10px solid var(--etch-sketch-colour);
    border-radius: 10px;
}

.pixel {
    text-align: center;
    background-color: white;
}

.knobs {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.knob {
    background-color: var(--knob-colour);
    width: 85px;
    height: 85px;
    margin: 10px 20px;
    border-radius: 50%;
}

.control-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.control-item {
    margin: 20px;
}
